luminoth/*.ckpt filter=lfs diff=lfs merge=lfs -text
luminoth/checkpoints/aad6912e94d9/*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
luminoth/checkpoints/6aac7a1e8a8e/*.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
